<div id="footer">
	<hr></hr>
	
	<!-- Social Media Buttons -->
	<p>
		<!-- Twitter -->
	    <a href="http://www.twitter.com/NoProbSoftware">
	    	<img src="http://www.noprobsoftware.com/uploads/Buttons/twitter_btn.png" border="0" width="22px" height="22px"
	    		 alt="Follow NoProbSoftware on Twitter" />
	    </a>
	    
	    <!-- Facebook -->
	    <a href="https://www.facebook.com/pages/NoProb-Software/211363802227279">
	        <img src="http://www.noprobsoftware.com/uploads/Buttons/facebook_btn.png" border="0" width="22px" height="22px"
	        	 alt="Like NoProb Software on Facebook" />
	    </a>
	</p>
	
	<!-- Copyright Notice -->
	<p>Copyright &copy; 2013 NoProb Software. All rights reserved.</p>
</div>